.button {
    
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--dark-color);
    border-radius: 1rem;
    width: 30vw;
    max-width: 200px;
    height: 3rem;
    border: none;
    transition: transform 0.2s ease;
}

.button:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
    transform: translateY(-4px)
}

