:root {
  --background: #171717;
  --foreground: #ffffff;
  font-family: 'Roboto', sans-serif;
  
  --white-color: #ffff;
  --dark-color: #121212;
  --black-color: #000; 
  --primary-color: #ef7205;
  --primary-color-dark: #d96504;
  --card-color: #1e1e1e;
  --text-color: #6b7280;
  --light-text-color: #c2c2c2;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: var(--white-color);
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--light-text-color);
  line-height: 1.5;
}

.p-dark {
  color: var(--text-color);
}

a {
  color: var(--white-color);
  text-decoration: none;

}


