.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  
  padding-top: 11rem; 
  
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleOrdange {
  display: block;
  color: var(--primary-color);
}

.cardSection {
  margin: 0rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}