
.page {
  /* padding-top: 11rem; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head1 {
  margin-bottom: 1rem;
}

.heading {
  
  padding-top: 11rem; 
  
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.par {
  margin-bottom: 1rem;
}

.titleOrdange {
  display: block;
  margin-top: 0.3rem;
  color: var(--primary-color);
}

.cardSection {
  margin: 0rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}