@media only screen and (max-width: 768px) {
    .page {
      min-height: 100vh;
        background-image: 
          linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
          url("../../src/assets/MobileBackground.jpg");
          background-repeat: no-repeat;
          background-size: cover;
    }
}


.page {
  /* padding-top: 11rem; */
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("../../src/assets/DesktopBackground.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.head1 {
  margin-bottom: 1rem;
}

.heading {
  
  padding-top: 11rem; 
  
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.par {
  margin-bottom: 1rem;
}

.titleOrdange {
  display: block;
  margin-top: 0.3rem;
  color: var(--primary-color);
}

.cardSection {
  margin: 0rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

