/* mobile */
/* header container */
.header {
    
    padding-top: 4rem;
    background-color: var(--dark-color);
    height: 8rem;

    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
    transition: all 100ms ease-in-out;
}

.headerItems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

/* animation changes when it scrolls */
.scrolled {
    padding-top: 2rem; 
    height: 5rem;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* log container */
.logoLink {
    display: flex;
    align-items: center;
}

.logoText {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-left: 1rem; 
    font-weight: bold;
}

/* image styles */
.image {
    height: 2.5rem;
    width: auto;
    display: flex;
}

/* the icon to click */

.hamburgerIcon {
    cursor: pointer;
    padding: 0.5rem; 
    border-radius: 50%; 
    transition: background-color 200ms ease;
    transition: all 300ms ease;
}

.hamburgerIcon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}   

.hamburgerMenu:active {
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 0.2); 
}

.activeIcon {
    transform: rotate(90deg); 
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
    
    opacity: 0;
    pointer-events: none; 
    transition: opacity 300ms ease-in-out;
}

.backdropVisible {
    opacity: 1;
    pointer-events: all;
}

/* navbar styles */
.navBarItems {
   top: 0;
   left: 0;
    background-color: var(--dark-color);
    height: 100vh;
    /* width: max-content; */
    overflow: hidden;
    z-index: 999; 
    position: fixed;
    transition: all 300ms ease-in-out;
   
}


.visible {
    max-height: 100vh;
    opacity: 1;
}


.hidden {
    max-height: 0;
    opacity: 0;
    border: none;
}


.navBarItemMobile, .activeNavBarItemMobile {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--white-color);
    padding: 1rem;
}

.activeNavBarItemMobile {
    background-color: rgba(255, 255, 255, 0.1);
}

.navBarItemMobile:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
    



/* tablets and laptops */
@media only screen and (min-width: 768px) {
    
    /* header container */
    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        background-color: transparent;
        height: 8rem;
    
        z-index: 1000;
        width: 100vw;
        position: fixed;
        top: 0;
        transition: all 100ms ease-in-out;
    }
    
    /* animation changes when it scrolls */
    .scrolled {
        background-color: var(--dark-color);
        height: 5rem;   
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .headerItems {}
    
    /* logo container */
    .logoLink {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    
    .logoText {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-left: 1rem; 
        font-weight: bold;
        color: var(--white-color);
    }
    
    /* image styles */
    .image {
        height: 2.5rem;
        width: auto;
    }
    
    
    /* navbar styles */
    .navBar {
        display: flex;
        list-style: none;
    }
    
    
    .navBarItem, .activeNavBarItem {
        text-transform: uppercase;
        display: flex;
        padding-bottom: 1rem;
        margin: 0 1rem;
    }
    
    .activeNavBarItem {
       
        border-bottom: 1px solid white;
    
    }
    
    
    .navBarItem {
        border: 1px solid transparent;
        transition: border-color 200ms;
    }
    
    .navBarItem:hover {
        border-bottom: 1px solid white;
    }
}